In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
?pd.read_excel

In [41]:
df = pd.read_excel('qcew-nonprofits-2017.xlsx', sheet_name="2017 Nonprofit Data",header=[3])

In [42]:
df.head()

,FIPS,Geographic Title,NAICS,Industry Title,Average_establishments,Annual \naverage\nemployment,Total annual\nwages\n(in thousands),Annual\nwages per\nemployee,Average\nweekly wage,Average \nestablishments,Annual \naverage\nemployment.1,Total annual\nwages\n(in thousands).1,Annual\nwages per\nemployee.1,Average\nweekly wage.1,Percent employment 501(c)(3),Wage\nRatio,Geographic Level,Industry Level
0,0,U.S. Totals,10,Total Private,9536831,122386565,6772575479,55338,1064,299457,12488563,670218053,53667,1032,0.102042,0.966503,1_U.S._Totals,1_Total_Private
1,0,U.S. Totals,11,"Agriculture, Forestry, Fishing and Hunting",104445,1261312,43470311,34464,663,338,2976,104105,34981,673,0.002359,1.015031,1_U.S._Totals,2_Sector_(2-digit_NAICS)
2,0,U.S. Totals,111,Crop Production,47420,554994,18200268,32794,631,112,1162,38847,33431,643,0.002094,1.019486,1_U.S._Totals,3_Subsector_(3-digit_NAICS)
3,0,U.S. Totals,112,Animal Production and Aquaculture,25732,262870,9877259,37575,723,79,619,24429,39465,759,0.002355,1.050439,1_U.S._Totals,3_Subsector_(3-digit_NAICS)
4,0,U.S. Totals,115,Support Activities for Agriculture and Forestry,19493,381145,12422696,32593,627,126,1065,37498,35209,677,0.002794,1.080528,1_U.S._Totals,3_Subsector_(3-digit_NAICS)

In [43]:
df.keys()

Index(['FIPS', 'Geographic Title', 'NAICS', 'Industry Title',
       'Average_establishments', 'Annual \naverage\nemployment',
       'Total annual\nwages\n(in thousands)', 'Annual\nwages per\nemployee',
       'Average\nweekly wage', 'Average \nestablishments',
       'Annual \naverage\nemployment.1',
       'Total annual\nwages\n(in thousands).1',
       'Annual\nwages per\nemployee.1', 'Average\nweekly wage.1',
       'Percent  employment 501(c)(3)', 'Wage\nRatio', 'Geographic Level',
       'Industry Level'],
      dtype='object')

In [44]:
df.columns

Index(['FIPS', 'Geographic Title', 'NAICS', 'Industry Title',
       'Average_establishments', 'Annual \naverage\nemployment',
       'Total annual\nwages\n(in thousands)', 'Annual\nwages per\nemployee',
       'Average\nweekly wage', 'Average \nestablishments',
       'Annual \naverage\nemployment.1',
       'Total annual\nwages\n(in thousands).1',
       'Annual\nwages per\nemployee.1', 'Average\nweekly wage.1',
       'Percent  employment 501(c)(3)', 'Wage\nRatio', 'Geographic Level',
       'Industry Level'],
      dtype='object')

In [45]:
df.FIPS

0            0
1            0
2            0
3            0
4            0
         ...
11168    72127
11169    72127
11170    78010
11171    78010
11172    78030
Name: FIPS, Length: 11173, dtype: int64

In [46]:
df.NAICS

0         10
1         11
2        111
3        112
4        115
        ...
11168    624
11169     81
11170     62
11171     81
11172     10
Name: NAICS, Length: 11173, dtype: object

In [48]:
df.Average_establishments[1]

104445